Lib
bin
Include
Scripts
pyvenv.cfg
tests
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
temp.py
slack-post/
screens/
temp.js
temp.py
interface-extension/dist/
interface-extension/node_modules/
interface-extension/.vscode/
interface-extension/src/.DS_Store
package-lock.json